# Python cache
**/__pycache__/
**/*.pyc
.pytest_cache/

# Python environments
.venv/

# Python dsitribution files
dist/

# IDE configurations
.idea/
.vscode/
.pyrightconfig.json

# Protobuf temporary files
**/*.proto
**/*_pb2.py
**/*_pb2_grpc.py
